/*
Author: Jonathan Aronsson Olsson 

Contact: Jonte962010@hotmail.com

Description: 

*/

body {			 R  G  B
background-color:#660033;
 color: #660033;
 }
 
 #container {
  border: 1px solid #660033; 
 }